<h1> Search by year and size</h1>
<form action="/Properties/DoSearchBySize" method="get" class="col-md-2">
    <div>
        Min Year: <input name="minYear" class="form-control" />
    </div>
    <div>
        Max Year: <input name="maxYear" class="form-control" />
    </div>
    <hr />
    <div>
        Min Size: <input name="minSize" class="form-control" />
    </div>
    <div>
        Max Size: <input name="maxSize" class="form-control" />
    </div>
    <hr />
    <input type="submit" class="btn btn-primary float-right" value="Search" />
</form>