    {{> header}}
<div class="container">
        <h1>About Page</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias quod ab fugit nesciunt labore minus et, necessitatibus minima soluta? Asperiores blanditiis quo, veritatis inventore culpa aut. Laborum aliquid at voluptatibus?</p>
</div>
{{> footer}}